body {
    display: block;
    overflow-x: hidden;
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 90px;
    background-color: rgb(230, 230, 230);
}

/* sidebar */
.sidenav-container {
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(230, 230, 230); /* Black */
    padding-top: 10px;
    padding-left: 10px;
}

.sidenav {
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(230, 230, 230); /* Black */
    padding-top: 20px;
    padding-left: 75px; 
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(255, 166, 0);
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: black;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .card-pfeil{
    margin-top: 50px;
    text-align: center;
}

.card-pfeil-icon{
    font-size: 16px;
    text-align: center;
    color:rgb(65, 201, 225);
}

.section-next {
    color: rgb(95, 94, 94);
    font-weight: 500;

}

.section-one {
    padding-top: 25px;
    padding-bottom: 25px;
}

.section-one h1 {
    font-size: 16px;
    font-weight: 600;
    color:rgb(65, 201, 225);
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.section-one p {
    font-size: 16px;
    font-weight: 600;
    color: black;
    text-align: left;
    margin-left: 20px;
}

.col p{
    font-size: 16px;
    font-weight: 600;
    color: black;
    text-align: left;
}

.card-body p{
    font-size: 16px;
    font-weight: 600;
    color: black;
    text-align: left;
}

.card-textI {
    color: rgb(95, 94, 94);
    font-weight: 500;
    margin-top: 60px;
}

.card.one {
    float: left;
    background-color: rgb(230, 230, 230);
    margin-top: 40px;
}

.card p{
    text-align: left;
    color: black;
}


.section-two {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-two h1 {
    font-size: 16px;
    font-weight: 600;
    color:black;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
}

.section-two h2 {
    font-size: 16px;
    font-weight: 600;
    color:rgb(65, 201, 225);
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card-two {
    float: left;
    margin-top: 180px;
    margin-right: 70px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 55px;
    background-color: rgb(34, 174, 230);
}

.card-two h1 {
    text-align: right;
    color: white;
}

.card-two p{
    text-align: left;
    color: black;
}

.button {
    background-color: white;
    color: black;
}

.card-descriptionI {
    padding-top: 150px;
    font-size: 16px;
    font-weight: 600;
    color: black;
    text-align: left;

}

.card-descriptionII {
    color: black;
    font-weight: 500;
    padding-top: 20px;

}

img {
    max-width: 70px;
    padding-top: 20px;
}

#wordCloud {
    min-width: 700px;
    min-height: 700px;
}