body {
    display: block;
    overflow-x: hidden;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 90px;
    background-color: rgb(230, 230, 230);
}

.navigation-bar ul li a {
    color:rgb(255, 166, 0);
    font-size: 18px;
    padding-left: 100px;
}

.section-one {
    padding-top: 10px;
    padding-bottom: 10px;
}

.section-one h1 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color:rgb(65, 201, 225);
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
}

.col p{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: black;
    text-align: left;
}

.card-body p{
    font-size: 16px;
    font-weight: 600;
    color: black;
    text-align: left;
}

.card-textI {
    color: rgb(95, 94, 94);
    font-weight: 500;
    margin-top: 280px;
}

.card.one {
    float: left;
    background-color: rgb(230, 230, 230);
    margin-top: 40px;
}

.card p{
    text-align: left;
    color: black;
}

.card-pfeil{
    margin-top: 50px;
    text-align: center;
    color:rgb(65, 201, 225);

}

.section-next {
    color: rgb(95, 94, 94);
    font-weight: 500;

}

.section-two {
    padding-top: 50px;
    padding-bottom: 100px;
}

.section-two h1 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: gray;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
}

.section-two h2 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color:rgb(65, 201, 225);
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card-two {
    float: left;
    margin-top: 20px;
    margin-right: 70px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 55px;
    background-color: rgb(34, 174, 230);
}

.card-two h1 {
    text-align: right;
    color: white;
}

.card-two p{
    text-align: left;
    color: black;
}

.button {
    background-color: white;
    color: black;
}

.card-descriptionI {
    color:  rgb(95, 94, 94);
    font-weight: 500;
    padding-top: 150px;

}

.card-descriptionII {
    color:  rgb(95, 94, 94);
    font-weight: 500;
    padding-top: 20px;

}

img {
    max-width: 70px;
    padding-top: 20px;
}
