<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <!--Balkendiagramm-->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js" integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg==" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nprogress.css')}}"> <!--Ladebalken-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
    <title>Trump Twitter</title>
    <!--warum scrips am Anfang?-->
    <!--<script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jQWCloudv3.4.1.js')}}"></script>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>-->
  </head>
  <body>

    <!--Sidebar fixed-->
    <div class="sidenav-container">
      <img src="{{ url_for('static', filename='img/trump.jfif')}}" class="sidenav-img">
      <div class="sidenav">
        <a href="#random">Random</a>
        <a href="#keywords">Top keywords</a>
        <a href="#targetI">Target overview</a>
        <a href="#targetII">Target</a>
      </div>
    </div>

      <!--Random Section-->
      <section id="random" class="section-one">
        <div class="row">
          <div class="col-sm-2">

          </div>
          <div class="col-sm-7">
            <img src="{{ url_for('static', filename='img/twitteraccount.jpg')}}" class="img-fluid" alt="img-fluid" width=100%>
            <p class="card-textI">Here you can find random Twitter insults from Trump during the period of May 2015 until November 2019.</p>
            <div class="card one" style="width: 100%">
              <div class="card-body">
                  <p id="random_insult" class="card-text">{{tweet.tweet}}</p>
              </div>
              <button type="button" class="btn btn-primary" id="randomTweetButton">Get Random Tweet</button>
            </div>
          </div>
          <div class="col-sm-3">
              <div class="col">
                  <div class="col">
                      <h1>Date:</h1>
                      <p id="date">{{tweet.date}}</p>
                      <h1>Target:</h1>
                      <p id="target">{{tweet.target}}</p>
                      <h1>Tweet Number:</h1>
                      <p id="tweet-nr">{{tweet.FIELD1}}</p>
                  </div>
              </div>
          </div>
        </div>
      </section>

      <section class="section-next">
        <div class="row">
          <div class="col-sm-2">
          </div>
          <div class="col-sm-7">
            <p class="card-pfeil">
              <a href="#keywords" class="btn btn-default btn-lg card-pfeil-icon" role="button" aria-pressed="true">
                Top keywords
                </br>
                <span class="fas fa-chevron-down"></span>
              </a>
            </p>
          </div>
        </div>
      </section>
      
      <!--Top Keywords Section-->
      <section id="keywords" class="section-two">
        <div class="row">
          <div class="col-sm-2">
          </div>

          <div class="col-sm-7">
            <p class="card-descriptionI">Those insults where used most often by Trump.</p>
            <!--Balkendiagramm-->
            <canvas id="myChart" id="updateChartForm" width="400" height="400"></canvas>
            <!--Ende-->
          </div>
          <div class="col-sm-3">
            <div class="container">
              <div class="card-two" style="width: 20rem;">
                  <div class="col">
                      <form id="updateChartForm">
                        <div class="form-group">
                          <label for="keywordCountSelect"><h1>Number of Insults:</h1></label>
                          <select class="form-control" id="keywordCountSelect">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>10</option>
                            <option>15</option>
                            <option>20</option>
                            <option>25</option>
                            <option>30</option>
                            <option>35</option>
                            <option>40</option>
                            <option>45</option>
                            <option>50</option>
                          </select>
                        </div>
                        <button type="submit" class="btn btn-primary" id="updateChartButton">Update Chart</button>
                      </form>
                  </div>
              </div>
          </div>
        </div>
      </section>

      <section class="section-next">
        <div class="row">
          <div class="col-sm-2">
          </div>
          <div class="col-sm-7">
            <p class="card-pfeil">
              <a href="#targetI" class="btn btn-default btn-lg card-pfeil-icon" role="button" aria-pressed="true">
                Target organisation
                </br>
                <span class="fas fa-chevron-down"></span>
              </a>
            </p>
          </div>
        </div>
      </section>

      <!--Target Org. Section-->
      <section id="targetI" class="section-two">
        <div class="row">
          <div class="col-sm-2">
          </div>

          <div class="col-sm-7">
            <p class="card-descriptionI">These are Trumps top targets.</p>
            <!--Targetdiagramm-->
            <canvas id="myTargetChart" id="updateTargetChartForm" style="width:100%"></canvas>
            <!--Ende-->
          </div>
          <div class="col-sm-3">
            <div class="container">
              <div class="card-two" style="width: 20rem;">
                  <div class="col">
                    <form id="updateTargetChartForm">
                      <div class="form-group">
                        <label for="targetCountSelect"><h1>Number of Targets:</h1></label>
                        <select class="form-control" id="targetCountSelect">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                          <option>10</option>
                          <option>15</option>
                          <option>20</option>
                          <option>25</option>
                          <option>30</option>
                          <option>35</option>
                          <option>40</option>
                          <option>45</option>
                          <option>50</option>
                        </select>
                      </div>
                      <button type="submit" class="btn btn-primary" id="updateTargetChartButton">Update Chart</button>
                    </form>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section-next">
        <div class="row">
          <div class="col-sm-2">
          </div>
          <div class="col-sm-7">
            <p class="card-pfeil">
              <a href="#targetII" class="btn btn-default btn-lg card-pfeil-icon" role="button" aria-pressed="true">
                Target people
                </br>
                <span class="fas fa-chevron-down"></span>
              </a>
            </p>
          </div>
        </div>
      </section>

      <!--Target People-->
      <section id="targetII" class="section-two">
        <div class="row">
          <div class="col-sm-2">
          </div>

          <div class="col-sm-7">
            <div class="row">
              <div class="col">
                <h1>Word Cloud</h1>
              </div>
              <div class="row">
                  <div class="col">
                      <div class="col">
                      </div>
                  </div>
              </div>
          </div>



            <div id="wordCloud"></div>

      
          </div>

          <div class="col-sm-3">
            <div class="container">
              <div class="card-two" style="width: 20rem;">
                  <div class="col">
                      <h1>Filter by target:</h1>
                      <div class="btn-group">
                          <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Joe Biden
                          </button>
                          <ul class="dropdown-menu">
                                ...
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                      <h1>Additional information</h1>
                  </div>
                  <div class="row">
                      <div class="col">
                          <div class="col">
                              <h2>Target:</h1>
                              <p>Joe Biden</p>
                              <h2>Insult:</h1>
                              <p>Sleepy Joe</p>
                              <h2>Tweet:</h1>
                              <p>"I believe it will be Crazy Bernie Sanders vs. Sleepy Joe Biden as the two finalists to run against maybe the best Economy in the history of our Country (and MANY other great things)! I look forward to facing whoever it may be. May God Rest Their Soul!"</p>
                              <h2>Date:</h1>
                              <p>2019-04-17</p>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>

    <!--Einbindung Javascript Files-->
    <script src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/Chart.js')}}"></script> <!--Liniendiagramm-->
    <script src="{{ url_for('static', filename='js/jQWCloudv3.4.1.js')}}"></script> <!--Wordcloud-->
    <script src="{{ url_for('static', filename='js/nprogress.js')}}"></script> <!--Ladebalken-->
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
  </body>
</html>